.techItem{
    margin: 2%;
    float: left;
    width: 16%;
	height: 100%;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	cursor: pointer;
}

@media only screen and (min-device-width : 320px) and(max-device-width : 767px)
{
	.techItem{
		width: 96%;
		height: 16%;
	}
}