<div class="techList">
  {{#each techList}}
    <div class="techItem {{this}}" techName="{{this}}">
		<div class="techLabel">{{this}}
		</div>
		<div class="{{this}} TechImg"">
		</div>
	</div>
  {{/each}}
</div>